﻿@model System.Exception

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">An error occurred while processing your request.</h2>
</hgroup>

@{
    if (Boolean.Parse(System.Configuration.ConfigurationManager.AppSettings.Get("ShowDetailedError")))
    {
        <h3>@Model.Message</h3>
    }
}