﻿@using WebApp.Classes
@using Models.Models;

@{
    ViewBag.Title = "Dashboard";
} 

<fieldset>
    @Html.GetTitle("/Images/glyphicons/png/glyphicons_041_charts.png", new string[] { HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "/" + ViewBag.Title })

    <div class="alert alert-info">
        Here is your dashboard.
        <div style='float: right' id="divRevoked">            
            Hide Revoked:
            <input type="checkbox" id="hideRevoked" style = "vertical-align: middle" />
        </div>
    </div>

@{
    Html.RenderAction("DashboardPartial");
}
</fieldset>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}