﻿@model Models.Models.ChargeList
@using WebApp.Classes

@{
    ViewBag.Title = "Charges";
    var rights = ViewBag.rights;
}

@Scripts.Render("~/scripts/jquery.fixheadertable.js")

<table width="100%">
    <tbody>
        <tr>
            <td width="100%" valign="top">
                         
                    <div style="border-style: solid; border-width: 1px; border-color: #DDDDDD"> 
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>
                                TransactionID
                            </th>
                            <th>
                                Created
                            </th>
                            <th>
                                Updated
                            </th>
                            <th>
                                Number
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Amount
                            </th>
                            <th>
                                CustomerProfileID
                            </th>
                            <th>
                                CustomerPaymentProfileID
                            </th>
                            <th>
                                TransID
                            </th>
                            <th>
                                TranType
                            </th>
                            <th>
                                retCode
                            </th>
                            <th>
                                ErrMsg
                            </th>
                            <th>
                                CPReturnCode
                            </th>
                            <th>
                                CPPReturnCode
                            </th>
                            <th>
                                TranReturnCode
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        @{
                            foreach (var charge in Model.List)
                            {
                                <tr>
                                    <td>
                                        @charge.TransactionID
                                    </td>
                                    <td>
                                        @charge.Created.ToString("MM/dd/yyyy hh:mm tt")
                                    </td>
                                    <td>
                                        @charge.Updated.ToString("MM/dd/yyyy hh:mm tt")
                                    </td>
                                    <td>
                                        @charge.Number
                                    </td>
                                    <td>
                                        @charge.Description
                                    </td>
                                    <td>
                                        @charge.Amount.ToString("###,###,###.00")
                                    </td>
                                    <td>
                                        @charge.CustomerProfileID
                                    </td>
                                    <td>
                                        @charge.CustomerPaymentProfileID
                                    </td>
                                    <td>
                                        @charge.TransID
                                    </td>
                                    <td>
                                        @charge.TranType
                                    </td>
                                    <td>
                                        @charge.retCode
                                    </td>
                                    <td>
                                        @charge.ErrMsg
                                    </td>
                                    <td>
                                        @charge.CPReturnCode
                                    </td>
                                    <td>
                                        @charge.CPPReturnCode
                                    </td>
                                    <td>
                                        @charge.TranReturnCode
                                    </td>
                                </tr>
                            }
                        }
                            <tr>
                                <td colspan="13">
                                </td>
                                <td colspan="2" style="text-align: right">
                                    <form ></form>
                                    <h5>Records: @Model.ResultCount</h5>
                                </td>
                            </tr>
                        </tbody>                          
                    </table>
                    </div>
            </td>
        </tr>
    </tbody>
</table>      
