﻿@model Models.Models.PasswordReminder

@using (Ajax.BeginForm("RetrievePassword", "Account", null, new AjaxOptions() { HttpMethod = "POST" }, new { @class = "form-horizontal" }))
{       
    <fieldset>
        <legend><img src="~/Images/glyphicons/png/glyphicons_152_new_window.png" /> Retrieve Password</legend>

        <div class="alert alert-info">
            If you want your password to be sent to your registration email address, please fill out and submit the form below.
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.UserEmail)</label>
            <div class="controls">@Html.TextBoxFor(m => m.UserEmail, new { @readonly = true })</div>
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.SecureQuestion)</label>
            <div class="controls">@Html.TextBoxFor(m => m.SecureQuestion, new { @readonly = true, @class = "input-xxlarge" })</div>
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.SecureAnswer)</label>
            <div class="controls">@Html.TextBoxFor(m => m.SecureAnswer, new { @class = "input-xxlarge" })</div>
        </div>

        <div class="controls btn-group">    
            <button type="submit" class="btn btn-inverse"><i class="icon-ok icon-white"></i> Send Password</button>            
        </div>    

    </fieldset>
}
