﻿@model Models.Models.User
@using WebApp.Classes

@{
    ViewBag.Title = "User Profile";    
}

@using (Html.BeginForm("UserProfile", "Account", null, FormMethod.Post, new { @class = "form-horizontal" }))
{       
    <fieldset>
        @Html.GetTitle("/Images/glyphicons/png/glyphicons_003_user.png", new string[] { HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString() + "/" + ViewBag.Title })

        <div class="alert alert-info">
            Please edit the form to update your user account.
        </div>

        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.UserID)    
        @Html.HiddenFor(m => m.StoreID)

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.FirstName)</label>
            <div class="controls">@Html.TextBoxFor(m => m.FirstName)</div>
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.LastName)</label>
            <div class="controls">@Html.TextBoxFor(m => m.LastName)</div>
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.UserEmail)</label>
            <div class="controls">@Html.TextBoxFor(m => m.UserEmail)</div>
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.EmailAlertRecipient)</label>
            <div class="controls">@Html.CheckBoxFor(m => m.EmailAlertRecipient)</div>
        </div>

        <div class="control-group">    
            <label class="control-label" for="input01">@Html.LabelFor(m => m.BillingReportRecipient)</label>
            <div class="controls">@Html.CheckBoxFor(m => m.BillingReportRecipient)</div>
        </div>

        <div class="controls">   
            <button type="submit" class="btn btn-inverse"><i class="icon-ok icon-white"></i> Update</button>    
        </div>    
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
